/* Block Variation registerd via expanding metadata of core/quote before its registration */
.wp-block-quote.is-style-hand-drawn-purple {
	color: purple;
	border: 5px solid purple;
	overflow: hidden;
	box-shadow: var(--wp--preset--shadow--natural);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px !important;
}